body{
  background: linear-gradient(to right, #3498db,#e74c3c);
}
header{
  height: 300px;
    top: 0px;
}
header {
  padding-bottom: 0px;
}
.navigation {
    width: 100%;
    padding: 76px 0;
    z-index: 100;
    background-image: url("https://services.india.gov.in/uploads/category/banners/fc5df4d174f4e804_jobs.jpg");
    background-size: 2240px;
    background-position-x: right;
    background-position-y: center;
    align-items: first baseline;
    }
    .need{
      font-size: 25px;
      color: whitesmoke;
      padding: 20px;
    } 
    .need:hover{
      color: rgb(10, 0, 0);
    }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;


  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
  }
  
  nav ul li a:hover {
    background-color: #04AA6D;
    color: #fff;
  }.search-bar {
    float: right;
    margin: 40px 0;
  }
  
  /* .search-bar input[type="text"] {
    padding: 10px;
    border #ccc;
  } */
  .search-bar input{
    width: 1300px;
    height: 50px;
    border-radius: 20px;

  }
  
  .search-bar button[type="submit"] {
    padding: 10px;
    background-color:black;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 20px;   
  }
  .search-bar button:hover{
    background-color:  #04AA6D;

  }
  .second{
    display: flex;
    padding: 20px;
  }
  #marketing{
    border-radius:20px;
    background-color:aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
    border:none;
    /* margin-right: 20px; */
    /* padding: px; */
    background-size:  1000px;
    background-position-x: center;
    background-position-y: center;
    font-size:x-large;
  }
  .make{
    display: flex;
  }
  .make fieldset{
    /* margin-left: 0px; */
    /* background-color: rgb(0, 255, 72); */
    border-radius: 20px;
    border: none;
    text-align: center;
  }
  /* span{
    color:antiquewhite;
  } */


  #Civil{
    border-radius:20px;
    background-color:aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
    border:none;
    /* margin-right: 20px; */
    /* padding: px; */
    background-size:  1000px;
    background-position-x: center;
    background-position-y: center;
    font-size: x-large;
  }
  .eng{
    display: flex;
  }
  .eng fieldset{
    /* margin-left: 70px; */
    /* background-color: rgb(0, 255, 72); */
    border-radius: 20px;
    border: none;
    text-align: center;
  }
  #Data{
    border-radius:20px;
    background-color:aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
    border:none;
    /* margin-right: 20px; */
    /* padding: px; */
    background-size:  1000px;
    background-position-x: center;
    background-position-y: center;
    font-size: x-large;
  }
  .sci{
    display: flex;
  }
  .sci fieldset{
    /* margin-left: 70px; */
    /* background-color: rgb(0, 255, 72); */
    border-radius: 20px;
    border: none;
    text-align: center;
  }
  .for-every a{
  text-decoration: none;
  margin: 0px;
  border-radius: 20px;
  margin: 10px;
  padding:15px;
  transition: 0.5s ease;


  }
  .for-every a:hover{
    color: azure;
    background-color: rgb(238, 142, 142);
  }
  .first{
    display: flex;
    padding-top: 50px;
    /* margin-right: 200px; */
    padding: 10px;
  }
  #accountant{
    border-radius:20px;
    background-color:aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
    border:none;
    /* margin-right: 20px; */
    /* padding: px; */
    background-size:  1000px;
    background-position-x: center;
    background-position-y: center;
    font-size: x-large;
  }
  .account{
    display: flex;
  }
  .account fieldset{
    margin-left: 10px;
    /* background-color: rgb(0, 255, 72); */
    border-radius: 20px;
    border: none;
    text-align: center;
  }
  /* span{
    color:antiquewhite;
  } */


  #Prouduct{
    border-radius:20px;
    background-color:aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
    border:none;
    /* margin-right: 20px; */
    /* padding: px; */
    background-size:  1000px;
    background-position-x: center;
    background-position-y: center;
    font-size: x-large;
  }
  .manager{
    display: flex;

  }
  .manager fieldset{
    /* margin-left: 70px; */
    /* background-color: rgb(0, 255, 72); */
    border-radius: 20px;
    border: none;
    text-align: center;
  }
  #account{
    border-radius:20px;
    background-color:aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
    border:none;
    /* margin-right: 20px; */
    /* padding: px; */
    background-size:  1000px;
    background-position-x: center;
    background-position-y: center;
    font-size: x-large;
  }
  .executive{
    display: flex;
  }
  .executive fieldset{
    /* margin-left: 70px; */
    /* background-color: rgb(0, 255, 72); */
    border-radius: 20px;
    border: none;
    text-align: center;
  }
  .for-all a{
    text-decoration: none;
    margin: 0px;
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    transition: 0.5s ease;
  
    }
    .for-all a:hover{
      color: azure;
      background-color: black;
    }
    .third{
      display: flex;
      padding: 20px;
      /* margin-right: 40px; */
    }
    #custom{
      border-radius:20px;
      background-color:aliceblue;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
      border:none;
      /* margin-right: 20px; */
      /* padding: px; */
      background-size:  1000px;
      background-position-x: center;
      background-position-y: center;
      font-size: x-large;
    }
    .success{
      display: flex;
    }
    .success fieldset{
      /* margin-left: 70px; */
      /* background-color: rgb(0, 255, 72); */
      border-radius: 20px;
      border: none;
      text-align: center;
    }
    /* span{
      color:antiquewhite;
    } */
  
  
    #operation{
      border-radius:20px;
      background-color:aliceblue;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
      border:none;
      /* margin-right: 20px; */
      /* padding: px; */
      background-size:  1000px;
      background-position-x: center;
      background-position-y: center;
      font-size: x-large;
    }
    .specialist{
      display: flex;
    }
    .specialist fieldset{
      /* margin-left: 70px; */
      /* background-color: rgb(0, 255, 72); */
      border-radius: 20px;
      border: none;
      text-align: center;
    }
    #sales{
      border-radius:20px;
      background-color:aliceblue;
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU");
      border:none;
      /* margin-right: 20px; */
      /* padding: px; */
      background-size:  1000px;
      background-position-x: center;
      background-position-y: center;
      font-size: x-large;
    }
    .special{
      display: flex;
    }
    .special fieldset{
      /* margin-left: 70px; */
      /* background-color: rgb(0, 255, 72); */
      border-radius: 20px;
      border: none;
      text-align: center;
    }
    .for-each  a{
      text-decoration: none;
      margin: 0px;
      border-radius: 20px;
      margin: 10px;
      padding:15px;
      transition: 0.5s ease;
    
      }
      .for-each a:hover{
        color: azure;
        background-color: rgb(0, 144, 22);
      }
      .footer {
        background-image: url("footer-bg.jpg");
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        padding: 50px 0;
        color: #fff;
        font-family: sans-serif;
      }
      
      .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-logo {
        flex: 0 0 150px;
        text-align: center;
      }
      
      .footer-logo img {
        width: 100px;
        height: auto;
      }
      
      .footer-contact {
        flex: 1;
        text-align: right;
      }
      
      .footer-contact h3 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      
      .footer-contact p {
        font-size: 16px;
        line-height: 1.5;
      }
      
      .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid #ccc;
      }
      
      .footer-social {
        flex: 0 0 200px;
      }
      
      .footer-social h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .footer-social ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .footer-social li {
        margin-bottom: 10px;
      }
      
      .footer-social a {
        color: #fff;
        font-size: 16px;
        text-decoration: none;
      }
      
      .footer-social a:hover {
        text-decoration: underline;
      }
      
      .footer-copyright {
        flex: 1;
        text-align: right;
        font-size: 14px;
      }
      .need{
        text-shadow: 2px 2px 2px red;
      }
      