
header{
     text-align: center;
}
header h1{
    padding-bottom: 20px;
    border:10px; 
    border-radius: 100px;
}
header h1:hover{
     color: black;
     background-color: rgb(255,255,255);
}


header {
    background: linear-gradient(to right, yellow, green);
    background-size: cover;
    background-position: center center;
    padding-top: 10px;
    background-blend-mode: luminosity;
}
fieldset{
    border-color: black;
    background-color: rgb(127, 235, 197);
    border-radius: 20px;
    border: none;
    
}
body{
    background: linear-gradient(to right,white,#30ff41);
    background-size: 3000px;

}
a{
    color: black;
    font-style: italic;
    padding: 10px;
    border-radius: 20px;
}
a:hover{
    background: linear-gradient(to right, #3498db,#e74c3c);
}